<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoogleOAuthApp"
        tools:targetApi="31">
        <activity
            android:name=".screen_now_playing_ex"
            android:exported="false" />
        <activity
            android:name=".Playlist_Songs"
            android:exported="false" />
        <activity
            android:name=".HomeView"
            android:exported="true" />
        <activity
            android:name=".TestItemListView"
            android:exported="false" />
        <activity
            android:name=".Playlists"
            android:exported="true" /> <!-- <activity -->
        <!-- android:name=".HomeView" -->
        <!-- android:exported="false" -->
        <!-- android:label="@string/title_activity_home" /> -->
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".gglogin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".screen_now_playing"
            android:exported="false" />
        <activity
            android:name=".top50"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".MainActivity3" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>